@media screen and (max-width: 850px) {
  .burger_menu {
    display: block;
    position: relative;
    z-index: 6;
  }
  .menu {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.9);
    padding-top: 100px;
    padding-right: 45px;
    transform: translateX(150%);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu.active {
    transform: translateY(0);
  }
  .menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 50px;
    gap: 40px;
  }
  .header_button {
    margin: 40px 0px 0px 50px;
  }
  .burger_menu.active span:nth-of-type(3) {
    opacity: 0;
  }
  .burger_menu.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .burger_menu.active span:first-of-type {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/*------- Main -------  */

@media screen and (max-width: 1312px) {
  .main_about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
  }
  .main__photo1 {
    display: none;
  }
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .about_text {
    width: 1000px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 40px;
  }
  .page__container .main_about .about_text {
    margin-right: 0px;
    width: 900px;
  }
}
@media screen and (max-width: 1224px) {
  .cards_services {
    flex-wrap: wrap;
    justify-content: center;
  }
  .achievements {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .group_achive {
    border-left: 0;
    border-top: 2px solid gray;
    padding-top: 30px;
  }
  .group_achievements {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 1086px) {
  .main__content {
    .main_title {
      font-size: 80px;
    }
    .main_text {
      margin-top: 380px;
    }
  }
  .photo {
    width: 587px;
    height: 650px;
  }
  .page__container .main_about .about_text {
    width: 800px;
  }
}
@media screen and (max-width: 936px) {
  .main__content {
    .main_title {
      font-size: 70px;
    }
    .main_text {
      margin-top: 350px;
    }
  }
  .photo {
    width: 550px;
    height: 650px;
  }
  .main_logo {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .logo {
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (max-width: 850px) {
  .main__container {
    display: block;
  }
  .main__content {
    .main_title {
      font-size: 60px;
    }
    .main_text {
      margin-top: 320px;
    }
  }
  .photo {
    width: 350px;
    height: 400px;
    display: flex;
    margin: 0 auto;
  }
  .main_logo {
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    gap: 100px;
  }
  .logo {
    flex-basis: 100%;
  }
  .page__container .main_about .about_text {
    width: auto;
  }
}
@media screen and (max-width: 622px) {
  .main__content {
    .main_title {
      width: 600px;
      font-size: 60px;
    }
    .main_text {
      margin-top: 390px;
    }
  }
  .text_footer {
    width: auto;
  }
}
@media screen and (max-width: 510px) {
  .main__content {
    .main_title {
      width: 600px;
      font-size: 60px;
    }
    .main_text {
      margin-top: 390px;
      font-size: 18px;
      width: auto;
    }
  }
  .card {
    width: 320px;
  }
  .text_services {
    font-size: 18px;
  }
  .card_porfolio {
    width: 320px;
    height: auto;
  }
}
@media screen and (max-width: 390px) {
  .main__content {
    .main_title {
      width: auto;
      font-size: 38px;
    }
    .main_text {
      margin-top: 300px;
    }
  }
  .photo {
    width: 350px;
  }
  .main_logo {
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    gap: 100px;
  }
  .logo {
    flex-basis: 100%;
  }
  .services__container .card {
    width: 320px;
  }
}
@media screen and (max-width: 330px) {
  .card {
    width: 290px;
  }
  .card_porfolio {
    width: 290px;
  }
  .card_porfolio img {
    width: 250px;
  }
}
